
@media screen and (max-width:990px) {
    
    .head .close {
        display: block;
        padding: 4px 8px;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
        border-radius: 8px;
        color:slateblue;
        background-color: #fff;
    }

    .head .menu {
        display: none;
    }

     .menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 40vw;
        background-color: #444;
        z-index: 99;
        padding-top: 3rem;
    }

    /* home */
    #home .content .subTitle {
        font-size: 1.2rem !important;
    } 
    #home .content .mainTitle {
        font-size: 1.4rem !important;
    }

    .btn-group {
        flex-direction: column;
        padding: 20px;
    }

 .btn {
        font-size: 0.8rem !important;
        padding:6px 8px;
        width: 100%;
    }

    /* edu */
    #edu .container {
        height: 100%;
    }
    #edu .list-row {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    
    #edu .list .item meter {
        width: 80vw;
    }

    /* contact */
    #contact .container {
        height: 100%;
    }

    #contact .row {
        flex-direction: column;
    }
}


@media screen and (max-width:425px) {
    #about .container {
        height: 100%;
        text-align: justify;
    }

    #about .row {
        flex-direction: column;
    }

    /* education */

    #edu .container {
        height: 100%;
    }

    #edu .row .table-responsive {
        overflow-x: auto;
    }

    table {
        table-layout: auto !important;
    }
}