@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: #eee;
    padding: 10px;
}

.card {
    width: 40%;
    background-color: #fff;
    padding: 20px;
}

.form-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 1rem;
}

.form-control {
    width: 100%;
    padding: 10px;
}

.btn {
    border: none;
    cursor: pointer;
    padding: 6px 8px;
    color:#fff;
    border-radius: 4px;
}

.success { background-color: green;}

.error { color: red;}
.warn { color: orange;}
.ok { color: green;}