@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

/* default object - can create css variables */
:root {
    --white:#fff;
    --dark: #222;
    --teal: teal;
    --primary:slateblue;
    --orange: orange;
    --red: red;
    --green: green;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* common */
.container {
    width: 80%;
    margin: auto;
}

/* menu */
.navbar {
    width: 100%;
    height: 60px;
    background-color: var(--primary);
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navbar a {
    text-decoration: none;
    cursor: pointer;
    color:var(--white);
    font-weight: 800;
}

.navbar .logo {
    font-size: 1.5rem;
}

.navbar .menu a {
    background-color: var(--dark);
    padding: 6px 9px;
    border-radius: 6px;
    font-size: 0.9rem;
    transition: all 0.6s;
}

.navbar .menu a:hover {
    background-color: var(--orange);
}

/* block */
.title {
    text-align: center;
    color:var(--primary);
}

/* card */
#users {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 4px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 60px;
    padding: 10px;
    border-radius: 5px;
}

.card .card-header {
    border-radius: 5px;
    text-align: center;
    color:var(--primary);
    font-size: 1.5rem;
}

.card-body p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
}

.card .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    cursor: pointer;
    text-decoration: none;
    border: none;
    font-size: 0.6rem;
    padding: 4px 6px;
    border-radius: 5px;
    color: var(--white);
}

.info { background-color: var(--teal);}
.danger { background-color: var(--red);}
.success { background-color: var(--green);}
