@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: teal;
    color:#fff;
    padding: 0;
    margin: 0;
}

.context-menu {
    width: 150px;
    background-color: #222;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    position: fixed;
    visibility: hidden;
}

.context-menu a {
    color:#fff;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 10px;
}

.context-menu .cls {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.4rem;
    cursor: pointer;
    color:red;
}

.context-menu.active {
    visibility: visible;
}